body{
    background: rgb(46,66,114);
    background: linear-gradient(90deg, rgba(46,66,114,1) 0%, rgba(64,48,117,1) 50%, rgba(34,102,102,1) 100%);
}
.container{
    max-width: 1140px;
    margin: auto;
    text-align: center;
}
header{
    background-color: black;
    padding: 10px;
}
nav{
    background-color: #222222;
    padding: 20px 0 20px 0;
    margin: auto;
}
.body{
    background-color: aliceblue;
    height: auto;
    padding: 20px;
}
img{
    max-width: 90%;
    height: auto;
}
/*Headers and text*/
h1{
    font-family: 'Chivo', sans-serif;
    font-size: 70px;
    font-weight: 900;
    color: aliceblue;
    line-height: 40px;
}
h2{
    color: azure;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    margin: 10px;
    line-height: 40px;
}
h3{
    color: black;
    font-family: 'Chivo', sans-serif;
    font-size: 48pt;
    font-weight: 700;
    margin: 10px;
    line-height: 50px;
}
p{
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin: 24px;
}
.citation{
    color: grey;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    margin: 4px;
    font-size: 10px;
    line-height: 14px;
}

nav a{
    color: aliceblue;
    margin: 5%;
    font-family: 'Chivo', sans-serif;
    line-height: 24px;
}
a{
    color: #0000aa;
}
a:visited {
  color: #550055;
}
/* unvisited link */
nav a:link {
    color: aliceblue;
}
  /* selected link */
nav a:active {
    color: grey;
}
/**/
