body{
    background: rgb(46,66,114);
    background: linear-gradient(90deg, rgba(46,66,114,1) 0%, rgba(64,48,117,1) 50%, rgba(34,102,102,1) 100%);
}
.container{
    max-width: 1140px;
    margin: auto;
    text-align: center;
}
header{
    background-color: black;
    padding: 10px;
}
nav{
    background-color: #222222;
    padding: 20px 0 20px 0;
}
.body{
    background-color: aliceblue;
    height: 500px;
    padding: 20px;
}
/*Headers and text*/
h1{
    font-family: 'Chivo', sans-serif;
    font-size: 70px;
    font-weight: 900;
    color: aliceblue;
}
h2{
    color: azure;
    font-family: 'Chivo', sans-serif;
    font-weight: 300;
    margin: 10px;
}
p{
    font-family: 'Chivo', sans-serif;
    font-size: small;
}
nav a{
    color: aliceblue;
    margin: 5%;
    font-family: 'Chivo', sans-serif;
}
a{
    color: blue;
}
a:visited {
  color: purple;
}
/* unvisited link */
nav a:link {
    color: aliceblue;
}
  /* selected link */
nav a:active {
    color: grey;
}
/**/
